body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--clr-dark-brown);
  font-family: 'Playfair Display', serif;
}

input, button {
  font-family: 'Playfair Display', serif;
}